<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
 th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Liste de réservation</title>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    
   
   </div>
   <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
     <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Se déconnecter</a></li>
    </ul>
   </div>
  </div>
 </nav>

 <br>
 <br>
 <div class="container">
  <h2>Liste de réservation</h2>
  <button  type="button" th:onclick="window.location.href='/parking'" class="btn btn-success">Réserver</button>
  <table class="table">
    <thead>
        <tr>
            <th>  Id  </th>
            <th>Email d'utilisateur</th>
            <th>Nom Parking </th>
              <th> Action </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${parkings.empty}">
            <td colspan="2"> Aucun reservation </td>
        </tr>
        
        <tr th:each="parking : ${parkings}">
         <td><span th:text="${parking.id}"> id </span></td>
          
              <td><span th:text="${parking.user.email}"> email </span></td>
               <td><span th:text="${parking.parking.name}">Nom Parking</span></td>
              <td>
              <div sec:authorize="hasRole('ROLE_USER')">
             
  
</div>
    
  
 <a   th:href="@{/reservation/delete(id=${parking.id})}"  >Supprimer</a>
                
                  
              
                  </td>
              
        </tr>
    </tbody>
</table>

  <p>
   Welcome <span sec:authentication="principal.Username">User</span>
  </p>
 </div>

 <script type="text/javascript"
  th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
 <script type="text/javascript"
  th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
