<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
 th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Registration</title>
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    
   
   </div>
   <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
     <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>
   </div>
  </div>
 </nav>

 <br>
 <br>
 <div class="container">
  <h2>Parking List</h2>
  <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" th:onclick="window.location.href='/parking/add'" class="btn btn-success">Add</button>
  <table class="table">
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Place </th>
             <th> Despo </th>
              <th> Action </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${parkings.empty}">
            <td colspan="2"> No Parkings Available </td>
        </tr>
        
        <tr th:each="parking : ${parkings}">
         <td><span th:text="${parking.id}"> id </span></td>
            <td><span th:text="${parking.name}"> name </span></td>
            <td><span th:text="${parking.place}"> place </span></td>
             <td><span th:text="${parking.despo}"> despo </span></td>
              <td>
              <div sec:authorize="hasRole('ROLE_USER')">
              <a th:if="${parking.despo>0}" th:href="@{/reservation/add(id=${parking.id})}" > Reservation</a> 
              </div>
              <div sec:authorize="hasRole('ROLE_ADMIN')">
              <button type="button" class="btn btn-primary">Edit</button>
                  <a  th:href="@{/parking/delete(id=${parking.id})}">Delete</a>
                  
                </div>  
                  </td>
              
        </tr>
    </tbody>
</table>

  <p>
   Welcome <span sec:authentication="principal.Username">User</span>
  </p>
 </div>

 <script type="text/javascript"
  th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
 <script type="text/javascript"
  th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
